body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  padding: 10px;
}

input {
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
}

label {
  margin-bottom: 10px;
  margin-left: 10px;
}

.input-and-color-picker {
  display: flex;
  justify-content: flex-start;
}

button {
  margin-bottom: 10px;
  margin-left: 10px;
}
